* {
    box-sizing: border-box;
}

.container {
    color: white;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    width: 700px;
    margin: 50px auto 0;
}

input {
    border: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid black;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
}

    input:focus {
        caret-color: black;
        color: white;
    }

    input:not(:focus) {
        color: white;
    }

.course-duration {
    display: flex;
    column-gap: 20px;
}

    .course-duration div {
        flex: 1;
    }

    .course-duration input {
        width: 100%;
    }

.subtopics {
    text-align: left;
}

.subtopic-fields {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;
}

    .subtopic-fields > div {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .subtopic-fields div div {
    }

button {
    background-color: white;
    padding: 10px 35px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}

    button:hover {
        cursor: pointer;
    }

label {
    display: block;
    text-align: left;
    font-size: 15px;
}

.active {
    background-color: #313131;
}
