@{
    ViewData["Title"] = "OLSM | Change Password";
}

@section Styles {
    <link rel="stylesheet" href="~/css/change-password.css" asp-append-version="true" />
}

<div class="container">
    <h2>Password Change</h2>

    <form method="post" asp-action="ChangePassword" asp-controller="User">
        <input type="hidden" name="id" value="@Model.UserId" />
        <p class="text-white-50 mb-4">Please complete the following!</p>

        <div>
            <label>Old Password</label>
            <input type="password" name="oldPassword" required />
        </div>

        <div>
            <label>New Password</label>
            <input type="password" name="newPassword" required />
        </div>

        <div>
            <label>Repeat Password</label>
            <input type="password" name="repeatedPassword" required />
        </div>

        <button>Change Password</button>
    </form>
</div>